
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome - we have shit to do.</title>
</head>
<body>
    aloa
</body>
</html>
